.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.icon-close-btn {
  width: 18px;
  height: 18px;

  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --при фокусі залишено outline за замовчуванням */
.close-button:hover .icon-close-btn,
.close-button:focus .icon-close-btn {
  fill: var(--accent-color);
}
